.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height : 100vh;
  height: 0;
  background-color: #e0f2f1;
}

.main {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer {
  text-align: right;
  flex-grow: 0;
}
